<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap & W3.CSS & Google fonts-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Nunito:wght@600;800&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="css/style.css">
    <title> Bunnybean Cafe</title>
</head>
<body>
    <!-- Navigation Horizontal -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light head-mar">
        <a class="navbar-brand" href="/">
            <img src="img/seolLogo.png" width=70" height="70" alt="logo">
        </a>
        <h1>Bunnybean Cafe</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-mar">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav nav-horiz pagination pagination-lg">
                <li class="nav-item">
                    <a class="nav-link" href="/"> Home</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/menu"> Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/checklogin">Review</a>
                </li>
            </ul>
        </div>

    </nav>
