<div class="container-fluid">
    <div class="row">
        <!-- Navigation Vertical -->
        <div class="col-lg-2 ">
            <ul class="list-group">
                <a href="/drinks" class="list-group-item list-group-item-action">Drinks</a>
                <a href="/iceCream" class="list-group-item list-group-item-action">Icecream</a>
                <a href="/bakery" class="list-group-item list-group-item-action">Bakery</a>
            </ul>
        </div>
        <!-- Contents -->
        <div class="col-lg-10 feature-box">
