<%- include("partials/header0") %>
<%- include("partials/menuList") %>

<h1 class="menu-title">Bakery</h1><hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img class="item-img" src="img/bakery.PNG" alt="Cookie">
            <h3 class="item-name">Cookie</h3>
        </div>
        <div class="col-lg-6 ">
            <img class="item-img" src="img/bakery.PNG" alt="Cookie">
            <h3 class="item-name">Cookie</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ">
            <img class="item-img" src="img/bakery.PNG" alt="Cookie">
            <h3 class="item-name">Cookie</h3>
        </div>
        <div class="col-lg-6 ">
            <img class="item-img" src="img/bakery.PNG" alt="Cookie">
            <h3 class="item-name">Cookie</h3>
        </div>
    </div>
</div>
</div>


<%- include("partials/footer") %>