<%- include("partials/header0") %>
<%- include("partials/menuList") %>

        <h1 class="menu-title">Drinks</h1><hr>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 ">
                        <img src="img/hotCoffee.PNG" alt="">
                    </div>
                    <div class="col-lg-6 ">
                        <img src="img/icedCoffee.PNG" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 ">
                        <img src="img/hotTea.PNG" alt="">
                    </div>
                    <div class="col-lg-6 ">
                        <img src="img/icedTea.PNG" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 ">
                        <img src="img/coldDrink.PNG" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("partials/footer") %>