<%- include("partials/header0") %>


<div class="container-fluid">
    <div class="row row1">
        <div class="col-sm-6 row1f">
            <img class="main-img1" src="img/icedPromo.jpg" alt="Iced Tea Promo">
        </div>
        <div class="col-sm-6">
            <div class="align">
                <P class="item-title">The new stars of summer</P>
                <p class="item-description">Say hi to our refreshing Cherry or Orange Soda!</p>
            </div>
        </div>
    </div>
    <div class="row row2">
        <div class="col-sm-6">
            <div class="align color-row2">
                <P class="item-title">Endless yum</P>
                <p class="item-description">Summer on with Mango or Pineapple smoothie!</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img class="main-img2" src="img/soomPromo.jpg" alt="Soomthie Promo">
        </div>
    </div>
    <div class="row row3">
        <div class="col-sm-6">
            <img class="main-img3" src="img/ketoCake.jpg" alt="Keto Cake Promo">
        </div>
        <div class="col-sm-6">
            <div class="align color-row3">
                <P class="item-title">Luscious blend of <br>bountiful goodness</P>
                <p class="item-description">Flavourful cake with raspberries and yogurt!</p>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>