<%- include("partials/header0") %>
<%- include("partials/menuList") %>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="img/coffee.PNG" class="card-img-top menuImage" alt="coffee">
                            <h5 class="card-title">Drinks</h5>
                            <p class="card-text">Delicious drinks.</p>
                            <a href="/drinks" class="btn">More menu</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="img/bakery.PNG" class="card-img-top menuImage" alt="bakery">
                            <h5 class="card-title">Bakery</h5>
                            <p class="card-text">Yum Yum breads</p>
                            <a href="#" class="btn">More menu</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="img/berryIcecream.PNG" class="card-img-top menuImage" alt="icecream">
                            <h5 class="card-title">Ice Cream</h5>
                            <p class="card-text">Very delicious Ice Cream</p>
                            <a href="#" class="btn">More menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>