<%- include("partials/header0") %>

<div class="container mt-5">
    <h1>Sign Up</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <form action="/register" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-lg-4 socialButtonGroup">
                <a class="btn btn-block btn-social btn-google socialButton" href="/auth/google" role="button"><span class="fa fa-google"></span>Sign up with Google</a>
                <a class="btn btn-block btn-social btn-facebook socialButton" href="/auth/facebook" role="button"><span class="fa fa-facebook"></span>Sign up with Facebook</a>
                <a class="btn btn-block btn-social btn-twitter socialButton" href="#" role="button"><span class="fa fa-twitter"></span>Sign up with twitter</a>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>